
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.site-header {
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 70px 0;
}

.site-title {
    font-size: 40px;
    text-shadow: #FC0 1px 0 10px
}


nav {
    background-color: #212121;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    
}

nav ul li a:hover {
    background-color: #a80078;
}

main {
    flex: 1;
    margin: 0 auto; 
    width: 80%; 
    max-width: 800px; 
    padding: 20px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.aboutsplit {
    display: flex;
    
}
.pleft {
    width: 400px;
    padding-right: 40px;
}