{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>
    
    <div class="aboutsplit" >
    <p class ="pleft">I denna kurs lär vi oss att bygga webbapplikationer med objektorienterad programmering och MVC-arkitektur. Vi använder Symfony, ett populärt PHP-ramverk, för att skapa vår webbplats. 
    Vi använder vyer för att visa innehåll, använda oss av controllers och skapar sidor med JSON-data för att förstå en RESTful API fungerar. Dessutom lär vi oss grunderna i objektorientering i PHP. Här är länken till kursens <a href="https://github.com/dbwebb-se/mvc/tree/main">github repo.</a></p>
    <p>Länk till min egna github finnes <a href="https://github.com/whateversuit/mvc-course-repo">här!</a></p>
    </div>
    <img src="{{ asset('../img/github.png') }}" alt="">


{% endblock %}