{% extends 'base.html.twig' %}

{% block title %}Drawn Card{% endblock %}

{% block body %}
    <h1>Dra ett random kort ur kortleken</h1>
    <span class ="cards" >{{ randomCard.getAsString() }}</span><br>
    <span class ="cards" >{{ remainingCardsCount }}</span>
{% endblock %}
