{% extends "base.html.twig" %}

{% block title %}Me{% endblock %}

{% block body %}
        <h1>Lucky Number</h1>
        <main style="background-color: {{ backgroundColor }}">
    <p>Lucky Number: {{ number }}</p>
    </main>
    
{% endblock %}