{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
        <h1>Report</h1>
        <br>
        <h2>kmom01</h2>
        <p>Fråga: Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</p>
        <br>

<p>Mina tidigare kunskaper om klasser och objekt är från OOPYTHON-kursen tidigare i vår.</p> 
<br>
<p>Fråga: Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser? </p>
<br>
<p>Klasser är en mall för ett objekt och att varje klass definieras med class. Sedan i klassen kan man definera properties där man lagrar information inuti klassen. Som variabler. Man kan också ha metoder i klassen som kan påverka objektet utifrån eller inifrån själva objektet. Dessa kan vara privata eller public. Är de public kan metoderna nås från andra delar av kodbasen. Privata är endast tillgängliga i klassen. En konstruktor är viktig också för att initiera objektet och tilldela världen.</p>
<br>
<p>Fråga: Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</p>
<br>
<p>Jag gillar strukturen. Mitt största problem var att förstå mapp-strukturen och setupen för att få saker att fungera både lokalt och på studentservern. Där har åtskilliga timmar bränts, men jag antar att det är så man lär sig! Jag är lite fundersam över när man ska göra controllers om man ska dela upp routes i egna klasser eller ha alla i samma osv. Jag antar att det är en smaksak men jag vet inte det ännu.</p>
<br>
<p>Fråga: Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</p>
<br>
<p>Jag gillar hur artikeln förutsätter att man är ny och manar till att klicka vidare till andra ställen för att läsa mer om saker man är mer intresserad av. Den ger en bra överblick av vad man kan göra och förvänta sig av PHP som programmeringsspråk. Just nu vill jag egentligen förstå det mesta och då främst objektorienterad PHP då det är mest aktuellt för kursen. Artikeln är en mycket bra utgångspunkt för just det! Noterade också att det finns filmer som förklarar vidare om man vill ta paus från läsandet ett tag.</p>
<br>


<p>Fråga: Vilken är din TIL för detta kmom?</p>
<br>
<p>Jag har lärt mig hur man installerar symfony och hur det används för att bygga en sida med det verktyget. Jag har lärt mig lite mer grunderna inom OO-PHP.</p>

<br>
        <h2>kmom02</h2>
        <p>Fråga: Förklara kort de objektorienterade konstruktionerna arv, komposition, interface och trait och hur de används i PHP.</p>
        <br>

<p> Arv: Arv gör att en klass kan ärva metoder från en överordnad klass. Genom nyckelordet extends blir klassen ett arv. Komposition är att en klass inehåller en annan klass. 
        Bra för att kunna göra ändringar utan att påverka andra delar. Interface är specifika metoder som en klass måste använda sig av. Nyckelordet interface används här. trait
är metoder som kan användas utan att använda arv. detta Definieras med trait och i klasser med order use. </p> 
<br>
<p>Fråga: Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden och dina klasser? </p>
<br>
<p>I uppgiften använde jag arv för att göra specialkortleken JokerDeck, den ärver metoder från DeckOfCards. Jag använde inte trait eller interface i koden för detta kursmoment. 
        Däremont komposition när jag använder delar av Card-objektet i DeckOfCards.Jag tror att för att förbättra behöver jag förstå mer grundligt när och hur jag ska använda mig av 
alla olika sätt.</p>
<br>
<p>Fråga: Vilka är dina reflektioner så här långt med att jobb i Symfony med applikationskod enligt MVC?</p>
<br>
<p>Kul och jag börjar förstå strukturen. Jag tycker det är en trevlig och överskådligt sätt att bygga sina program och sin webbplats. 
        Jag känner att jag är fortfarande lite ny för att helt förstå.</p>
<br>
<p>Fråga: Vilken är din TIL för detta kmom?</p>
<br>
<p>Fortsatt lära mig mer om klasser. Jag har lärt mig hur arv fungerar hyffsat. Fått mer kännedom om hur sessionen fungerar.</p>




{% endblock %}