{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
        <h1>Report</h1>
    <p>An image which can be clicked on.</p>
    <a href="{{ asset('img/glider.svg') }}">
        <img src="{{ asset('img/glider.svg') }}" alt="">
    </a>
    <img src="{{ asset('build/images/background.jpg') }}" alt="">
{% endblock %}